<div class="p-2">

  <h2>My account at a glance</h2>
  <div class="card me-5 ms-5 mb-3 d-flex flex-row justify-content-between p-3">
    <div class="card text-bg-primary  text-center col-3">
      <div class="card-body">
        <h4 class="card-title">Account balance</h4>
        <h2 class="card-text">21 560£</h2>
      </div>
    </div>

    <div class="card text-bg-warning text-white text-center col-3">
      <div class="card-body">
        <h4 class="card-title">Highest transfer</h4>
        <h2 class="card-text">2 560£</h2>
      </div>
    </div>

    <div class="card text-bg-success  text-center col-3">
      <div class="card-body">
        <h4 class="card-title">Highest deposit</h4>
        <h2 class="card-text">2 980£</h2>
      </div>
    </div>


  </div>

  <div class="card m-3 p-3">

    <div class="d-flex flex-row align-items-start mb-3">
      <div class="me-3">
        <label for="start-date" class="form-label">Email address</label>
        <input type="email" class="form-control" id="start-date" placeholder="--/--/----" />
      </div>
      <div >
        <label for="end-date" class="form-label">Email address</label>
        <input type="email" class="form-control" id="end-date" placeholder="--/--/----" />
      </div>
    </div>
    <div class="card p-3">

    </div>

  </div>
</div>
